body,html{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
        
    
}
.padre{
    display: flex;
}

#header{
    width: 100%;
    background-color: rgb(243 244 246);
    height: 150px;
    flex-direction: column;
}
.hijo{
    align-self: center;
}
#title{
    line-height: 36px;
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
    letter-spacing: -0.05em;
}
#subtitle{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    color: rgb(107 114 128);
}

#menu{
    padding-top: 100px;
    justify-content: space-around;
    flex:1
}
.icono{
    padding-bottom: 10px;
    font-size: 40px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.6);
}
.link-navegacion{
    font-weight: 700;
}
.box{
    border-radius: 20px;
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 20px;
    
}
#box-1{
    background-color: rgb(34 197 94);
} 

#box-2{
    background-color: rgb(249 115 22);
}
#box-3{
    background-color: rgb(239 68 68);
}
#box-4{
    background-color: rgb(17 24 39);
}

#footer{
    background-color: rgb(243 244 246);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    font-size: 1rem; /* 24px */
    line-height: 1.5rem; /* 32px */
    color: rgb(107 114 128);
}
a{
    text-decoration: none;
}

.form-container {
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group select[multiple] {
    height: auto;
}
.form-group input[type="file"] {
    padding: 3px;
}
.form-group textarea {
    resize: none;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #45a049;
}