<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/f3d624c74b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class='padre' id="header">
        <h1 class='hijo' id="title">
            Frutas y verduras
        </h1>
        <div class='hijo' id="subtitle">
            Descubre una amplia variedad de frutas y verduras frescas de temporada
        </div>
    </div>
    <div class="padre" id="menu">
        <a href="agregar-producto.html">
            <div id="box-1" class="box">
                <div class="icono">
                    <i class="fa-solid fa-pepper-hot"></i>
                </div>
                <div class="link-navegacion">Agregar producto</div>
            </div>
        </a>
        <a href="ver-productos.html">
            <div id="box-2" class="box">
                <div class="icono">
                    <i class="fa-regular fa-eye"></i>
                </div>
                <div class="link-navegacion">Ver productos</div>
            </div>
        </a>
        <a href="agregar-pedido.html">
            <div id="box-3" class="box">
                <div class="icono">
                    <i class="fa-regular fa-lemon"></i>
                </div>
                <div class="link-navegacion">Agregar pedidos</div>
            </div>
        </a>
        <a href="ver-pedidos.html">
            <div id="box-4" class="box">
                <div class="icono">
                    <i class="fa-regular fa-eye"></i>
                </div>
                <div class="link-navegacion">Ver pedidos</div>
            </div>
        </a>
        
    </div>
    <div id="footer" class="padre">
        <div id="desc_curso">
            Pauta de proyecto para curso CC5001 Desarrollo de aplicaciones web
        </div>
        <div id="autor">
            Sebastián Moreno Martínez
        </div>
    </div>
    
</body>
</html>